---
import SectionWrapper from "../components/SectionWrapper.astro";

import {
  YOUTUBE_URL,
  INSTAGRAM_URL,
  FACEBOOK_URL,
  X_URL,
  EMAIL_URL,
} from "../constants/urls";

import SocialIcon from "../components/SocialIcon";
---

<SectionWrapper id="social-links" class="w-full">
  <div
    class="max-w-fit mx-auto flex justify-center items-center flex-wrap gap-4"
  >
    <SocialIcon
      label="Youtube"
      iconSrc="/public/images/social_media/Youtube.svg"
      href={YOUTUBE_URL}
      client:load
    />
    <SocialIcon
      label="Instagram"
      iconSrc="/public/images/social_media/Instagram.svg"
      href={INSTAGRAM_URL}
      client:load
    />
    <SocialIcon
      label="Facebook"
      iconSrc="/public/images/social_media/Facebook.svg"
      href={FACEBOOK_URL}
      client:load
    />
    <SocialIcon
      label="X"
      iconSrc="/public/images/social_media/X.svg"
      href={X_URL}
      client:load
    />
    <SocialIcon
      label="Email"
      iconSrc="/public/images/social_media/Email.svg"
      href={EMAIL_URL}
      client:load
    />
  </div>
</SectionWrapper>
